@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
@import url('reset.css');

h1 {
  padding: 10px 0 0 0;
  font-size: 4.25rem;
  font-weight: 900;
  color: #003262;
}

h2 {
  padding: 8px 0;
  font-size: 2rem;
  font-weight: 900;
}

.howTo {
  margin: 10px 0 0 0;
}

.howTo p {
  font-family: 'Roboto Mono', monospace;
  color: #FFF;
  padding: 5px 0 15px 0;
  font-size: 0.83rem;
}

.header {
  text-align: center;
}

.header h1 {
  display: inline-block;
  vertical-align: top;
}

.header p {
  position: relative;
  /*top: -0.9rem;*/
  margin: 10px 0 0 0;
  font-weight: 500;
  font-style: italic;
}

.header .logo {
  width: 200px;
}

.controller {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  padding: 15px 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

button, input[type=text], p.submitBtn {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 0.9375rem;
  line-height: 18px;
  font-weight: normal;
  font-family: Yantramanav,Helvetica Neue,Arial,sans-serif;
  border: 1px solid;
  -webkit-transition: all 0.15s linear 0s;
  transition: all 0.15s linear 0s;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-color: #0047AB;
  color: #FCFBF9;
  min-width: 140px;
  width: 250px;
  height: 40px;
}

input[type=text] {
  color: #4185EB;
  padding: 0 10px;
}

input[type=text].error {
  border: 1px solid red;
}


input:focus{
  outline: none;
}

.defaultBtn {
  color: #FFFFFF;
  border-color: #0047AB;
  background-color: #0047AB;
  height: 70px;
}

.defaultBtn:hover {
  background: #8E3EDB;
  color: #FFFFFF;
}

.defaultBtn:active {
  background: #0047AB;
}

.defaultBtn.disabled, .defaultBtn.disabled:active {
  background: #444;
  opacity: 0.3;
}

.submitBtn  {
  background: linear-gradient(43.71deg, #0047AB -33.79%, #8E3EDB 100.02%);
}

.submitBtn:hover {
  background: #0047AB;
}

.submitBtn:active {
  background: #8E3EDB;
}

.submitSection, .randomNumberSec {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.submitSection {
  margin: 15px 0;
}

.submitSection input[type=text], .submitSection button {
  width: 325px;
}

.randomNumberSec p {
  color: #0047AB;
  border: 1px solid #0047AB;
  width: 250px;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.scoreSec p {
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.randomNumberSec p span, .scoreSec p span{
  font-size: 1rem;
}

.errorMsg {
  padding: 5px 0;
  color: #CE1212;
  font-weight: 900;
  font-size: 0.9rem;
  text-align: center;
}

.infoMsg {
  padding: 5px 0;
  color: #003262;
  font-weight: 900;
  font-size: 0.9rem;
  text-align: center;
}


.modal {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 80px;
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
  .submitSection, .randomNumberSec {
    flex-direction: column;
    align-items: center;
  }

  .submitSection input[type=text], .submitSection button,  p.submitBtn, .randomNumberSec, .defaultBtn, .randomNumberSec p{
    width: 100%;
  }

}

.highScore {
  display: flex;
  justify-content: center;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 98%;
  max-width: 850px;
  margin-bottom: 40px;
}

table td, table th {
  border: 1px solid #0047AB;
  padding: 8px;
}

table tr td {
  width: 25%;
}

table tr:nth-child(even) {
  background-color: #248bd2;
}

table tr:hover {
  /*background-color: #ddd;*/
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0047AB;
  border: 1px solid #000;
  color: white;
  font-weight: 900;
  position: relative;
}

.sortIc {
  position: absolute;
  right: 5px;
  bottom: 8px;
}
